<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EventManagement</display-name>
  <welcome-file-list>
    <welcome-file>event.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageAction</display-name>
    <servlet-name>HomePageAction</servlet-name>
    <servlet-class>action.HomePageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageAction</servlet-name>
    <url-pattern>/HomePageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsAction</display-name>
    <servlet-name>ContactUsAction</servlet-name>
    <servlet-class>action.ContactUsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsAction</servlet-name>
    <url-pattern>/ContactUsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>action.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAction</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>action.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationDetailsAction</display-name>
    <servlet-name>RegistrationDetailsAction</servlet-name>
    <servlet-class>action.RegistrationDetailsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationDetailsAction</servlet-name>
    <url-pattern>/RegistrationDetailsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterActionMun</display-name>
    <servlet-name>RegisterActionMun</servlet-name>
    <servlet-class>action.RegisterActionMun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterActionMun</servlet-name>
    <url-pattern>/RegisterActionMun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterActionBuzz</display-name>
    <servlet-name>RegisterActionBuzz</servlet-name>
    <servlet-class>action.RegisterActionBuzz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterActionBuzz</servlet-name>
    <url-pattern>/RegisterActionBuzz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterBuzzAction</display-name>
    <servlet-name>RegisterBuzzAction</servlet-name>
    <servlet-class>action.RegisterBuzzAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterBuzzAction</servlet-name>
    <url-pattern>/RegisterBuzzAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationDetailsBuzzAction</display-name>
    <servlet-name>RegistrationDetailsBuzzAction</servlet-name>
    <servlet-class>action.RegistrationDetailsBuzzAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationDetailsBuzzAction</servlet-name>
    <url-pattern>/RegistrationDetailsBuzzAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationDetailsMunAction</display-name>
    <servlet-name>RegistrationDetailsMunAction</servlet-name>
    <servlet-class>action.RegistrationDetailsMunAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationDetailsMunAction</servlet-name>
    <url-pattern>/RegistrationDetailsMunAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactDetailsAction</display-name>
    <servlet-name>ContactDetailsAction</servlet-name>
    <servlet-class>action.ContactDetailsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactDetailsAction</servlet-name>
    <url-pattern>/ContactDetailsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEventAction</display-name>
    <servlet-name>AdminEventAction</servlet-name>
    <servlet-class>action.AdminEventAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEventAction</servlet-name>
    <url-pattern>/AdminEventAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEventDisplayAction</display-name>
    <servlet-name>AdminEventDisplayAction</servlet-name>
    <servlet-class>action.AdminEventDisplayAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEventDisplayAction</servlet-name>
    <url-pattern>/AdminEventDisplayAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHighlightAction</display-name>
    <servlet-name>AdminHighlightAction</servlet-name>
    <servlet-class>action.AdminHighlightAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHighlightAction</servlet-name>
    <url-pattern>/AdminHighlightAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHighlightDisplayAction</display-name>
    <servlet-name>AdminHighlightDisplayAction</servlet-name>
    <servlet-class>action.AdminHighlightDisplayAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHighlightDisplayAction</servlet-name>
    <url-pattern>/AdminHighlightDisplayAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEventDetails</display-name>
    <servlet-name>DeleteEventDetails</servlet-name>
    <servlet-class>action.DeleteEventDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEventDetails</servlet-name>
    <url-pattern>/deleteEventDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEventDetails</display-name>
    <servlet-name>EditEventDetails</servlet-name>
    <servlet-class>action.EditEventDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEventDetails</servlet-name>
    <url-pattern>/editEventDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventsDetails</display-name>
    <servlet-name>UpdateEventsDetails</servlet-name>
    <servlet-class>action.UpdateEventsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventsDetails</servlet-name>
    <url-pattern>/updateEventsDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAction</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEventsDetails</display-name>
    <servlet-name>ShowEventsDetails</servlet-name>
    <servlet-class>action.ShowEventsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEventsDetails</servlet-name>
    <url-pattern>/showEventsDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderImagesAction</display-name>
    <servlet-name>HeaderImagesAction</servlet-name>
    <servlet-class>action.HeaderImagesAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderImagesAction</servlet-name>
    <url-pattern>/HeaderImagesAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderImagesShowAction</display-name>
    <servlet-name>HeaderImagesShowAction</servlet-name>
    <servlet-class>action.HeaderImagesShowAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderImagesShowAction</servlet-name>
    <url-pattern>/HeaderImagesShowAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditHighlightDetails</display-name>
    <servlet-name>EditHighlightDetails</servlet-name>
    <servlet-class>action.EditHighlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditHighlightDetails</servlet-name>
    <url-pattern>/EditHighlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateHighlightDetails</display-name>
    <servlet-name>UpdateHighlightDetails</servlet-name>
    <servlet-class>action.UpdateHighlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHighlightDetails</servlet-name>
    <url-pattern>/UpdateHighlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHighlightDetails</display-name>
    <servlet-name>UserHighlightDetails</servlet-name>
    <servlet-class>action.UserHighlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHighlightDetails</servlet-name>
    <url-pattern>/UserHighlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHighlightDetails</display-name>
    <servlet-name>DeleteHighlightDetails</servlet-name>
    <servlet-class>action.DeleteHighlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHighlightDetails</servlet-name>
    <url-pattern>/DeleteHighlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeNewsAction</display-name>
    <servlet-name>HomeNewsAction</servlet-name>
    <servlet-class>action.HomeNewsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeNewsAction</servlet-name>
    <url-pattern>/HomeNewsAction</url-pattern>
  </servlet-mapping>
</web-app>