<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EventManagement</display-name>
  <welcome-file-list>
    <welcome-file>event.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageAction</display-name>
    <servlet-name>HomePageAction</servlet-name>
    <servlet-class>action.HomePageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageAction</servlet-name>
    <url-pattern>/HomePageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsAction</display-name>
    <servlet-name>ContactUsAction</servlet-name>
    <servlet-class>action.ContactUsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsAction</servlet-name>
    <url-pattern>/ContactUsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>action.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAction</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>action.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationDetailsAction</display-name>
    <servlet-name>RegistrationDetailsAction</servlet-name>
    <servlet-class>action.RegistrationDetailsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationDetailsAction</servlet-name>
    <url-pattern>/RegistrationDetailsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterActionMun</display-name>
    <servlet-name>RegisterActionMun</servlet-name>
    <servlet-class>action.RegisterActionMun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterActionMun</servlet-name>
    <url-pattern>/RegisterActionMun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterActionBuzz</display-name>
    <servlet-name>RegisterActionBuzz</servlet-name>
    <servlet-class>action.RegisterActionBuzz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterActionBuzz</servlet-name>
    <url-pattern>/RegisterActionBuzz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterBuzzAction</display-name>
    <servlet-name>RegisterBuzzAction</servlet-name>
    <servlet-class>action.RegisterBuzzAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterBuzzAction</servlet-name>
    <url-pattern>/RegisterBuzzAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationDetailsBuzzAction</display-name>
    <servlet-name>RegistrationDetailsBuzzAction</servlet-name>
    <servlet-class>action.RegistrationDetailsBuzzAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationDetailsBuzzAction</servlet-name>
    <url-pattern>/RegistrationDetailsBuzzAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationDetailsMunAction</display-name>
    <servlet-name>RegistrationDetailsMunAction</servlet-name>
    <servlet-class>action.RegistrationDetailsMunAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationDetailsMunAction</servlet-name>
    <url-pattern>/RegistrationDetailsMunAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactDetailsAction</display-name>
    <servlet-name>ContactDetailsAction</servlet-name>
    <servlet-class>action.ContactDetailsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactDetailsAction</servlet-name>
    <url-pattern>/ContactDetailsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEventAction</display-name>
    <servlet-name>AdminEventAction</servlet-name>
    <servlet-class>action.AdminEventAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEventAction</servlet-name>
    <url-pattern>/AdminEventAction</url-pattern>
  </servlet-mapping>
</web-app>