H2{
text-align: center ;
color: #f1f1f1;
}

.jumbotron{
background-image: url("headingbackground.jpg");
}
 
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 1 1 51%;
    max-width: 187%;
}
.mutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*#btsform{
	display: none;
}

#munform{
	display: none;
}

#buzzform{
	display: none;
}*/